<!DOCTYPE html>
<html lang="en">
<!-- 100 % performance but i would not do this on any site, this is awful -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MekashronTest</title>
    <link rel="stylesheet" href="~/css/styles.pure.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom bg-dark">
        <div class="container text-white">
            &copy; 2022 - <a target="_blank" href="https://www.emilbabazade.com/">Emil Babazade</a>
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('loginForm').onsubmit = function (e) {
                e.preventDefault();
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/Home/Login", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                const email = document.querySelector("#email").value;
                const password = document.querySelector("#password").value;
                xhr.send(JSON.stringify({
                    "email": email,
                    "password": password
                }));
                xhr.onreadystatechange = function () {
                    if (!xhr.readyState == 4 && !xhr.status == 200) {
                        return;
                    }
                    const data = JSON.parse(xhr.responseText);
                    if (data.resultCode && data.resultCode == -1) {
                        handleError(data);
                        return;
                    }
                    handleSuccess(data);
                }
            }
        });

        function handleError(data) {
            document.querySelector('.user_details').setAttribute('style', 'display: none !important');
            document.querySelector('#error-text').textContent = data.resultMessage;
            document.querySelector('#error').setAttribute('style', 'display: block !important');
            setTimeout(() =>
                document.querySelector('#error').setAttribute('style', 'display: none !important'),
                5000
            );
        }

        function handleSuccess(data) {
            show(document.querySelector('#success'));
            setTimeout(() => hide(document.querySelector('#success')), 5000);
            showUserDetails(data);
        }

        function showUserDetails(data) {
            show(document.querySelector('.user_details'));
            document.querySelector("#entityId").textContent = data.entityId;
            document.querySelector("#firstName").textContent = data.firstName;
            document.querySelector("#lastName").textContent = data.lastName;
            document.querySelector("#company").textContent = data.company;
            document.querySelector("#address").textContent = data.address;
            document.querySelector("#city").textContent = data.city;
            document.querySelector("#country").textContent = data.country;
            document.querySelector("#zip").textContent = data.zip;
            document.querySelector("#phone").textContent = data.phone;
            document.querySelector("#mobile").textContent = data.mobile;
            document.querySelector("#email").textContent = data.email;
            document.querySelector("#emailConfirm").textContent = data.emailConfirm;
            document.querySelector("#mobileConfirm").textContent = data.mobileConfirm;
            document.querySelector("#countryID").textContent = data.countryID;
            document.querySelector("#status").textContent = data.status;
            document.querySelector("#lid").textContent = data.lid;
            document.querySelector("#fTPHost").textContent = data.fTPHost;
            document.querySelector("#fTPPort").textContent = data.fTPPort;
        }

        function show(element) {
            element.setAttribute('style', 'display: block !important')
        }

        function hide(element) {
            element.setAttribute('style', 'display: none !important')
        }
    </script>
</body>

</html>