@{
ViewData["Title"] = "Home Page";
}

<div class="alert alert-danger" id="error">
    <span class="text-danger" id="error-text"></span>
</div>
<div class="alert alert-success" id="success">
    <span class="text-success">Logged In Successfully!</span>
</div>

<div class="container d-flex align-items-center justify-content-center">
    <form class="col-6 form" id="loginForm">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" value="emilbabazade29@gmail.com" class="form-control" id="email"
                aria-describedby="emailHelp" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" value="12345678" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>

<div class="container d-flex flex-column align-items-center justify-content-center user_details">
    <h3 class="mt-3 mb-3">User Details</h3>
    <dl class="row">
        <dt class="col-sm-3">Entity Id</dt>
        <dd class="col-sm-9" id="entityId"></dd>

        <dt class="col-sm-3">FirstName</dt>
        <dd class="col-sm-9" id="firstName"></dd>

        <dt class="col-sm-3">LastName</dt>
        <dd class="col-sm-9" id="lastName"></dd>

        <dt class="col-sm-3">Company</dt>
        <dd class="col-sm-9" id="company"></dd>

        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9" id="address"></dd>

        <dt class="col-sm-3">City</dt>
        <dd class="col-sm-9" id="city"></dd>

        <dt class="col-sm-3">Country</dt>
        <dd class="col-sm-9" id="country"></dd>

        <dt class="col-sm-3">Zip</dt>
        <dd class="col-sm-9" id="zip"></dd>

        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9" id="phone"></dd>

        <dt class="col-sm-3">Mobile</dt>
        <dd class="col-sm-9" id="mobile"></dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9" id="email"></dd>

        <dt class="col-sm-3">EmailConfirm</dt>
        <dd class="col-sm-9" id="emailConfirm"></dd>

        <dt class="col-sm-3">MobileConfirm</dt>
        <dd class="col-sm-9" id="mobileConfirm"></dd>

        <dt class="col-sm-3">CountryID</dt>
        <dd class="col-sm-9" id="countryID"></dd>

        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9" id="status"></dd>

        <dt class="col-sm-3">lid</dt>
        <dd class="col-sm-9" id="lid"></dd>

        <dt class="col-sm-3">FTPHost</dt>
        <dd class="col-sm-9" id="fTPHost"></dd>

        <dt class="col-sm-3">FTPPort</dt>
        <dd class="col-sm-9" id="fTPPort"></dd>
    </dl>
</div>